@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}

p {
    margin-right: 1rem;
    margin-left: 1rem;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 1000px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.2);
}

#landing {
    background: #FFF;
}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing-text h2 {
    color: #888;
}

#landing-image {
    background: url(../img/background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

#demo-btn {
    color: #FFF;
}

#demo-btn:hover {
    color: #333;
    background-color: #C0C0C0;
}

#code-btn {
    color: #fff;
    background-color: #333;
}

#code-btn:hover {
    color: #333;
    background-color: #C0C0C0;
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

.about-me-info {
    padding: 0.8rem;
    text-align: center;

}

img.profile-pic {
    height: 50vh;
    width:50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;



}


#scroll-top-btn {
    display: none;
    background-color: #333;
    bottom: 2em;
    color: #FFF;
    opacity: 0.8;
    padding: 1.2em;
    position: fixed;
    right: 1.5em;
    text-decoration: none;
    transition-duration: 1s;
}

#scroll-top-btn:hover {
    opacity: 1;
    transition: 1s;
    text-decoration: none;
    color: #fff;
}

.far, .fas, .fab {
    padding-right: .5rem;
}
a{
    color: black;
}

a:hover{
    color: #333;
}


footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}


/* Screen Sizez 500px and Up */

/*@media(min-width: 500px) {
    #landing {
        display: flex;
        height: 100%;
    }
    #landing-text {
        height: 100vh;
    }
    #landing-image {
        background: url(../img/background.jpeg);
        height: 100vh;
    }
    #scroll-top-btn {
        display: none;
        bottom: 1.5em;
        opacity: 0.8;
        padding: 1em;
        position: fixed;
    }

}


/* Screen Sizes 768px and Up */

@media(min-width: 768px) {
    .btn {
        padding: 1rem 3rem;
    }
    #landing {
        display: flex;
        height: 100%;
    }
    #landing-text {
        height: 100vh;
    }
    #landing-image {
        background: url(../img/kc2.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    #scroll-top-btn {
        display: none;
        bottom: 1.5em;
        opacity: 0.8;
        padding: 1em;
        position: fixed;
    }
    img.profile-pic {
        height: 50vh;
        width:20vw;
    }
    p {
        margin-right: 2rem;
        margin-left: 2rem; 
    }
   /* #header1 {
        margin-top: 0;
        padding: 1.5rem;
        text-align: center;
        background: #333;
        color: #fff;
    }
    #header1 h2 {
        border-left: dotted 1px #fff;
        border-right: dotted 1px #fff;
        display: inline-block;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    /* img {
    }
    .caption {
    }
    #portfolio-item {
    }*/
}